
<%= form_for([@question, @question.answers.build], html: { multipart: true }) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="align">

<br>
    <div class="field form-group row">
        <%= f.label :image, class: "col-md-3 control-label name2" %><br>
      <div class="col-md-6">
        <%= f.file_field :image %>
     </div>
    </div>

    <br>
    <div class="field form-group row">
        <%= f.label :body,class: "col-md-3 control-label name2"%><br>
      <div class="col-md-6">
        <%= f.text_area :body, cols: "100", rows: "10",class:'form-control'%>
      </div>
    </div>
    <br>
    <br>
    <br>


  <div class="field">
    <%= f.submit'Add answer', :class => 'submit btn btn-large btn-primary' %>
  </div>
<% end %>
</div>
</div>
