<html>

    <header>
        <div class='row header '>

            <nav class="navbar navbar-default shadow">
              <div class="container-fluid">

                <div class="navbar-header brand-repos">

                  <a class="navbar-brand " href="<%= pages_index_path %>"><span class="custom-font1 brand-color">CampusConnect</span></a>
                </div>




                  <ul class="nav navbar-nav navbar-right re-right">
                <li id="click"><a href="<%= new_question_path%>"><span  class="custom-font2">Ask a Question</span></a></li>
                    <li class="active"><a href="#"><span class="custom-font2">Notification </span><span class="sr-only">(current)</span></a></li>

                    <li id="click" class="dropdown">

                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="custom-font2"><%= current_user.username %> </span><span class="caret"></span></a>

                      <ul class="dropdown-menu">
                        <li><a href="<%= profiles_index_path %>">Profile</a></li>
                        <li><a href="<%= profiles_index_path %>">My Activity</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="#"><%= link_to "Log out", destroy_user_session_path, :method => 'delete' %>   </a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
        </nav>
        </div>
    </header>
    <body>
        <br>
        <br>

        <div class="row">
            <%= render 'profiles/sidebar-left' %>
            <div class="col-sm-6 col-md-6 col-lg-6">
            <br>
            <h4>Your Answers</h4>
            <% if @answers %>

                <% @answers.each do |answer| %>
                <% question = Question.find(answer.question_id) %>
                    <div class="story">
                        <hr>
                        <div class="question">
                            <a href="<%= question_path(question)%>"><h3 style="color:black"><b> <%= question.body %></b></h3></a>
                            <br>
                            <h4 style="color:grey"> <%= question.description %></h4>
                            Tags: <b><%= question.tags %></b>
                        </div>
                        <hr>



                        <div class="answer">
                            <div class="author">
                                <h5>Written by<b><%= User.find(answer.user_id).username %></b></h5>

                            </div>
                            <br>
                            <img src="/images/food.jpg" class="ans-img"/>
                            <br><br>
                            <div class="comment more pos">
                            <%= answer.body %>
                            </div>
                            <div class="footer">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                            <% like_count = Comment.where(user_id: User.first.id,answer_id: answer.id).count %>
                                            <% if like_count > 0 %>
                                                <button href="/comments/update" disabled="disabled" id="likes" class=" btn btn-primary" value="<%= answer.id %>">ThumbsUp | <span id="show_likes"><%= answer.likes %></span></button>
                                            <% else %>
                                                <button href="/comments/update"  id="likes" class=" btn btn-primary" value="<%= answer.id %>">ThumbsUp | <span id="show_likes"><%= answer.likes %></span></button>
                                            <% end %>


                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                <% end %>
              <%end %>
            <br>
            <br>
            <br>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
            </div>
        </div>
    </body>


</html>
