<div class="col-sm-6 col-md-6 col-lg-6">
<% @question.each do |question| %>
    <div class="story">
        <hr>
        <div class="question">
            <h3><b> <%= question.body %></b></h3>
            <br>
            <h4> <%= question.description %></h4>
            Tags: <b><%= question.tags %></b>
        </div>
        <% answer = question.answers.order(:likes).last %>

        <br>
        <div class="answer">
            <div class="author">
                <h5><b><%= User.find(answer.user_id).username %></b>,Coder,blogger</h5>

            </div>
            <img src="/images/food.jpg" class="ans-img"/>
            <br><br>
            <div class="comment more pos">
            <%= answer.body %>
            </div>
            <div class="footer">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <button href="" class="btn btn-primary">ThumbsUp</button>
                        <%= answer.likes %>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
</div>
