<!--edited just now added header-->
<header>
    <div class='row header '>

        <nav class="navbar navbar-default shadow">
          <div class="container-fluid">

            <div class="navbar-header brand-repos">

              <a class="navbar-brand " href="<%=  %>"><span class="custom-font1 brand-color">CampusConnect</span></a>
    </nav>
    </div>
</header>
<body class="background-styles">

<div class="im-centered_2">

<h2 style="color:#0077b5">Log in</h2>

<hr>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="align_1">
  <div class="field form-group">
    <%= f.label :email,class: "col-md-5 control-label name3" %><br/><br style ="display: block;margin-bottom: 5px;font-size:5px;line-height: 5px;">
      <div class="col-md-7">
      <%= f.email_field :email, autofocus: true,class:'form-control position' %>
      </div>
  </div>
<br>
<br>
  <div class="field form-group">
    <%= f.label :password,class: "col-md-5 control-label name4" %><br /><br <br style ="display: block;margin-bottom: 5px;font-size:5px;line-height: 5px;">
    <div class="col-md-7">
    <%= f.password_field :password, autocomplete: "off",class:'form-control position' %>
  </div>
</div>
<br>
<br>
<br>
  <% if devise_mapping.rememberable? -%>
    <div class="field form-group">
      <%= f.check_box :remember_me,class: "col-md-2 control-label name" %>
      <%= f.label :remember_me,class:"position1"%>
  </div>
  <% end -%>
<br>
  <div class="actions">
    <%= f.submit "Log in",class:"login_button submit btn btn-large btn-primary" %>
  </div>
<% end %>
<br>
<br>
<div class="align align_2">
<%= render "devise/shared/links" %>
</div>
</div>
</div>
</body>
